#about_div{
	width: 1300px;
	height: 600px;
}
#about_div h1{
	font-family: "微软雅黑";
	color: black;
	font-size: 40px;
	text-align: center;
	margin-top: 50px;
}
#block_div{
	width: 90px;
	height: 5px;
	background-color: rgb(86,167,214);
	margin: 10px auto;
}
#about_div img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid darkgrey;
	display: block;
	margin: 50px auto;
}
#about_div p{
	display: block;
	margin: 0 auto;
	width: 750px;
	font-family: "微软雅黑";
	margin-top: 20px;
	color: black;
	line-height: 40px;
}
